header
	.container.pt-0.pb-0
		.float-left
			img.fubon-logo.img-fluid(src="./images/fb_logo.svg")
		.float-right
			a.line-home.d-inline-block(href="/")
				img.icon-home.img-fluid.mr-2(src="./images/btn_home.svg")
				span.d-inline-block.vertical-middle.mt-1.show-pc 回首頁
		.clearfix