doctype html
html
  head
    title Fubon
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel="stylesheet", href="./style/layout.scss")
  body
    include ./header
    block content
    include ./footer

    #btn-top

    script(src="https://code.jquery.com/jquery-1.12.4.min.js",integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=",crossorigin="anonymous")
    script(src='./js/main.js')